
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Edit Post</h1>

    <%= render "layouts/flash" %>

    <%= bootstrap_form_for @post do |f| %>
    <%= f.text_field :title, placeholder: "Post title", icon: "comment" %>
    <%= f.text_field :link, placeholder: "Post link", icon: "link" %>
    <%= f.submit "Save Post", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>