<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h2>
      <%= "Hi #{@current_user.name}" if @current_user %>
    </h2>
    <%= render "layouts/flash" %>
    <div>
      <% if @current_user %>
      <a href="/posts" class="btn btn-primary">All Posts <span class="badge"><%= Post.count %></span>
      </a>
      <a href="/posts/new" class="btn btn-primary">New Post</a>
      <a href="/logout" class="btn btn-primary">Log Out</a>
      <% else %>
      <a href="/signup" class="btn btn-primary">Sign Up</a>
      <a href="/login" class="btn btn-primary">Log In</a>
      <% end %>
      <table class="table table-hover">
        <th>Vote</th>
        <th>Score</th>
        <th>Comment</th>
        <th>Title</th>
        <th>Link</th>
        <th>User</th>
        <% @posts.each do |post| %>
        <tr>
          <td>
            <%= bootstrap_form_for [post, @vote] do |f| %>
            <%= f.hidden_field :value, value: "1" %>
            <%= f.button "", class: "btn btn-primary btn-sm glyphicon glyphicon-hand-up" %>
            <% end %>
            <%= bootstrap_form_for [post, @vote] do |f| %>
            <%= f.hidden_field :value, value: "-1" %>
            <%= f.button "", class: "btn btn-danger btn-sm glyphicon glyphicon-hand-down" %>
            <% end %>

          </td>
          <td>
            <%= post.votes.reduce(0){|sum, v| sum + v.value} %>
          </td>
          <td>

            <a href="/posts/<%=post.id%>/comments" class="btn btn-sm btn-primary glyphicon glyphicon-comment"></a>
          </td>
          <td><%= post.title %></td>
          <td><a href="<%= post.link %>"><%= post.link %></a></td>
          <td><%= post.user.name %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>